/*新增留言表單*/
.createForm {
  display: flex;
  /*水平*/
  align-items: center;
  /*垂直*/
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

/*新增留言元素*/
.createParam {
  display: flex;
  width: 30vw;
  /*垂直*/
  align-items: center;
  /*水平*/
  justify-content: space-between;
  flex-direction: row;
}

/*新增留言button*/
.createMessageBtn {
  background-color: aqua;
  width: 100vw;
}

/*留言板列表*/
.messageBoard {
  display: flex;
  width: 100vw;
  /*垂直*/
  align-items: center;
  /*水平*/
  justify-content: center;
}

table {
  width: 100vw;
  display: flex;
  /*水平*/
  align-items: center;
  /*垂直*/
  justify-content: flex-start;
  flex-direction: column;
}

tr {
  display: flex;
  width: 80vw;
  flex-direction: row;
}

td {
  display: flex;
  width: 100vw;
  /*水平*/
  justify-content: center;
}
