<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <input
      class="new-todo"
      placeholder="What needs to be done?"
      autofocus
      (keyup.enter)="createTodo($event); getTodoList(null)"
    />
  </header>

  <!--待辦事項列表-->
  <section class="main" *ngIf="todoList.length">
    <ul class="todo-list">
      <li
        *ngFor="let todo of todoList; let index = index"
        [class.completed]="todo.getIsCompleted()"
        [class.editing]="todo.getEditMode()"
      >
        <div class="view">
          <input
            class="toggle"
            type="checkbox"
            (click)="clickIsCompleted(todo); getTodoList(null)"
            [checked]="todo.getIsCompleted()"
          />
          <label (dblclick)="todo.editModeOn()">{{ todo.getTitle() }}</label>
          <button
            class="destroy"
            (click)="deleteTodo(index); getTodoList(null)"
          ></button>
        </div>
        <input
          class="edit"
          #editedTodo
          *ngIf="todo.getEditMode()"
          [value]="todo.getTitle()"
          (blur)="updateTodo(todo, editedTodo.value, index)"
          (keyup.enter)="updateTodo(todo, editedTodo.value, index)"
          (keyup.escape)="editModeOff(todo)"
        />
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="todoList.length">
    <span class="todo-count">
      <strong>{{ todoList.length }}</strong>
      {{ todoList.length > 1 ? "items" : "item" }} left
    </span>
    <ul class="filters">
      <li>
        <a href="javascript:;" (click)="getTodoList(null)"> All </a>
      </li>

      <li>
        <a href="javascript:;" (click)="getTodoList(false)"> Active </a>
      </li>

      <li>
        <a href="javascript:;" (click)="getTodoList(true)"> Completed </a>
      </li>
    </ul>
    <button
      class="clear-completed"
      *ngIf="todoList.length"
      (click)="deleteAllCompletedTodo(); getTodoList(null)"
    >
      Clear completed
    </button>
  </footer>
</section>
